/* font-family: 'Open Sans', sans-serif;
/* font-family: 'Playfair Display', serif; */

.logoHeader {
    background: #f7cac9;
}

.mandala {
    width: 40.5%;
    height: auto;
    margin: 0 auto;
}

.name {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif; 
}

#aboutLeft {
    background: #313131;
}

#aboutSection {
    color: #f7cac9;
    font-family: 'Playfair Display', serif;
}

#aboutRight {
    width: 50%;
    height: auto;
}

#aboutPic {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

#portfolioSection {
    color: #313131;
    font-family: 'Playfair Display', serif;
}

#portfolioLeft {
    background: #f7cac9;
    height: 100%;
}

#portfolioRight {
    background: #313131;
}

.footer {
    width: 100%;
    height: 5%;
    background: #313131;
    color: #ffffff;
}