/* font-family: 'Open Sans', sans-serif;
/* font-family: 'Playfair Display', serif; */

.logoHeader {
    background: #f7cac9;
}

.mandala {
    width: 39%;
    height: auto;
    margin: 0 auto;
}

.name {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif; 
}

#aboutLeft {
    background: #ffffff;
    height: 100%;
}

#aboutSection {
    color: #313131;
    font-family: 'Playfair Display', serif;
}

#aboutRight {
    background: #313131;
    height: 100%;
    color: #ffffff;
}

#aboutPic {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

#portfolioSection {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}

#portfolioLeft {
    background: #f7cac9;
    height: 100%;
}

#portfolioRight {
    background: #f7cac9;
    height: 100%;
    color: #f7cac9;
}

#contactLeft {
    background: #313131;
    height: 100%;
}

#contactRight {
    background: #ffffff;
    height: 100%;
}

#contactSection {
    font-family: 'Playfair Display', serif;
    color: #f7cac9;
}

#footer {
    background: #f7cac9;
    width: 100%;
    height: 5%;
    color: #ffffff;
}